body {

}
main {
	with: 80%;
	margin: 0 auto;
	background-color: yellow;
}
main:hover {
	background-image: url(../img/blild.jpg);
}
header {
	width: 100%;
	height: 200px;
	background-color: lime;
}
header:hover {
	background-image: url(../img/oof.jpg);
}
nav {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em
}
nav > ul > li {
	list-style: none;
	display: inline-block;
	background-color: orange;
	padding: 20px;
	border: 1px solid black;
}
li > a {
	text-decoration: none;
}
li > a:hover {
	color: hotpink;
}
nav > ul> li:hover {
	background-image: url(../img/cnanada.png);
}
section {
	height: 80vh;
}
h1 {
	font-size: 4em;
	font-family: 'Roboto', sans-serif;
}
p {
	font-size: 1.2em
	font-family: 'Roboto Slab', serif;
}